<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% extends "master.html" %} {% block title %} Details about {{
mymember.firstname }} {{ mymember.lastname }} {% endblock %} {% block content %}
<h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>

<p>Phone</p>
<p>Member since</p>

<p>Back to <a href="/members">Members</a></p>

{% endblock %}
